<div class="toolbar" role="banner">
    <img width="100" alt="Home Logo" src="assets/home.jpg" />
    <span class="headername">ABC Builders</span>
    <div class="spacer">

    </div>
    <div class="iconimg">
        <a aria-label="Builders on twitter" target="_blank" rel="noopener" href="https://twitter.com" title="Twitter">
            <img src="assets/images/twitter.svg" width="40" />
        </a>
        <a target="_blank" rel="noopener" href="https://facebook.com" title="instagram">
            <img src="assets/images/facebook .svg" width="40"></a>
        <a target="_blank" rel="noopener" href="https://instagram.com" title="instagram">
            <img src="assets/images/instagram.svg" width="40" /></a>
    </div>

</div>
<div class="topnav">
    <div style="float: right;">
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/projects" routerLinkActive="active">Projects</a>

        <a routerLink="/contact" routerLinkActive="active">Contact</a>
        <a routerLink="/about" routerLinkActive="active">About Us</a>
    </div>
</div>